.contact-credential-left__container {
  display: flex;
  align-items: center;
  & > * {
    margin-right: 16px;
  }
}

.contact-credential-right__container {
  display: flex;
  align-items: center;
  & > * {
    margin-right: 20px;
  }
}

.contact-credential__tag-button {
  border-radius: 16px;
  height: 30px !important;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.contact-credential__plus-button {
  border-radius: 45%;
  height: 30px !important;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
