a:hover {
  color: #09a391 !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold !important;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray-secondary;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $gray-secondary;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $gray-secondary;
}
